body {
    display: flex;
    height: 80vh;
    /* background-image: url(../images/bg1.png);
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: rgb(56, 56, 83);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border: 2px solid black;
    background-color: rgb(231, 169, 25);
    padding: 50px;


}

.col-btn {
    margin: 20px auto;
    /* border: 3px solid; */
}

.btn {
    margin: 3px;
    width: 100px;
}

h1,
h3 {
    text-align: center;
}

input {
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 26px;

}

h3 {
    font-size: 46px;
    font-weight: bold;
}

#displayUnit {
    margin-top: -30px;

}

h1 {
    font-size: 48px;
}